
.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  margin: 0px;
  padding: 0px;
}
.text-gray {
  color: #424242;
}
.text-light-gray {
  color: #727272;
}
/* Navbar design */
.bg-color {
  background-color: rgba(255, 144, 14, 0.1);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
  margin-right: 230px;
}

.nav-item a{
  text-decoration: none;
  margin-right: 40px;
  font-size: 18px;
}
.navbar h3 {
  font-size: 45px;
  font-weight: bold;
  margin-left: 238px;
}
.banner h1 {
  font-size: 65px;
  font-weight: bold;
  text-align: center;
  margin: 25px;
}
.banner p {
  text-align: center;
  font-size: 16px;
  margin-bottom: 0px;
}
.btn-primary {
  font-size: 20px;
  padding: 25px 24px 20px 20px;
  background-color: #FF900E;
  border-radius: 8px;
  color: white;
  border: none;
  margin-left: 870px;
  margin-top: 32px;
}
.banner img {
  height: 700px;
  width: 1440px;
  border-radius: 8px;
  margin-left: 240px;
  margin-top: 50px;
  margin-bottom: 45px;
}

/* Teams Section */
.teams {
  display: flex;
  align-items: center;
}

.our-features {
  margin-left: 73px;
  align-items: center;
}
.our-features h6 {
  font-size: 45px;
  font-weight: 500;
  color: #727272;
  margin-bottom: 24px;
  padding: 0px;
}

.our-features p{
  font-size: 16px;
  margin-top: 0px;
}
.our-features span {
  color: #FF900E;
}
.our-features h6 b {
  color: black;
}
.team-img-container img {
  height: 342px;
  width: 342px;
  border-radius: 8px;
}
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-top: 85px;
  margin-left: 300px;
}

.btn-explore {
  font-size: 20px;
  padding: 25px 24px 20px 20px;
  background-color: #FF900E;
  border-radius: 8px;
  margin-top: 32px;
  color: white;
  border: none;
}
/* Fetures section */
#features-section-title {
  border-left: 5px solid #FF900E;
  font-size: 45px;
  padding-left: 21px;
}
.features {
  margin-left: 240px;
}
.features h3{
  font-size: 45px;
  margin-bottom: 24px;
  padding: 0px;
}
.features p{
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  color: #727272;
  margin-bottom: 100px;
}
.fact {
  height: 241px;
  width: 241px;
  border: 1px solid #FF900E;
  border-radius: 8px;
}

.facts-container {
    display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 290px;
  margin-right: 290px;
  padding: 0px;
  gap: 124px;
}

.fact h4 {
  font-size: 45px;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 0px;
}

.fact h5{
  font-size: 20px;
  color: #727272;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 60px;
  font-weight: 500;
}

.fact img {
  height: 46px;
  width: 46px;
  margin-left:98px;
  margin-top: 45px;
  margin-bottom: 10px;
}

/* Sponser section design  */

.sponser-text h3 {
  font-size: 45px;
  text-align: center;
  margin-top: 180px;
  margin-bottom: 24px;
}

.sponser-text p{
  text-align: center;
  font-size: 16px;
  font-size: normal;
  margin: 0px;
  color: #727272;
}

.sponser-img-container img{
  height: 50px;
  width: 150px;
  gap: 155px;
  filter: grayscale(10);
margin-right: 155px;
}
.sponser-img-container {
    margin-right: 240px;
  margin-left: 240px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 130px;
}

/* Footer  */

footer .footer {
  height: auto;
  padding: 20px 0;
  border-radius: 8px;
  background-color: #FFF4E7;
  text-align: center;
  margin: 0 auto 40px auto;
  max-width: 90%;
}

.footer p {
  font-size: 14px;
  color: #424242;
  margin: 0;
}
